@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  color-scheme: dark;
  --color-bg: #282c33;
  --color-gray: #abb2bf;
  --color-primary: #007bff;
}
body {
  color: white;
  min-height: 100vh;
  background: var(--color-bg);
  font-family: 'Fira Code', monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 64rem;
  margin-inline: auto;
}

section {
  width: 100%;
  > h2 {
    font-size: 2rem;
    font-weight: 500;
    &::before {
      content: '#';
      color: var(--color-primary);
    }
    &::after {
      content: '-------------------------';
      margin-left: 0.5rem;
      color: var(--color-primary);
    }
  }
  margin-bottom: 3rem;
}
