@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  color-scheme: dark;
  --color-bg: #282c33;
  --color-gray: #abb2bf;
  --color-primary: #007bff;
}
body {
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-gray);
  font-family: 'Fira Code', monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
main,
header {
  max-width: 64rem;
  margin-inline: auto;
}

section {
  h2 {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
    &::before {
      content: '#';
      color: var(--color-primary);
    }
    &::after {
      content: '-------------------------';
      margin-left: 0.5rem;
      color: var(--color-primary);
    }
  }
  margin-bottom: 6.25rem;
}
